@import "./../../variables.scss";

.beers-header {
  background-color: $secondary-background !important; 
  padding: 10px 10px 0px 10px !important;
  margin: 0px !important;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.beers-content {
  padding: 15px 15px 15px 15px;
  background-color: $background-color;
}

.beer-card {
  width: 240px !important;
}

.beer-image {
  background-size: cover;
  background-position: center;
  height: 150px;
  box-shadow: 0 10px 6px -6px #777;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

.beer-detail-image {
  height: 300px;
}

.beer-image-container {
 width: 200px;
}